@using MobilyaMagazasi_Crud_MVC.Data
@model Mobilya
@{
    ViewBag.Title = "Mobilya Sil";
}

<h1 class="mb-5 mt-5">Mobilya Sil</h1>


<h3 class="mb-5"> <mark>&rdquo;@Model.Name&rdquo;</mark> isimli mobilya silinecek. Onaylıyor musunuz?</h3>



<form method="post">

    <input asp-for="Id" type="hidden"/>

    <button class="btn btn-danger w-25">Sil</button>
    <a asp-action="Index" class="btn btn-secondary w-25">Vazgeç</a>

</form>
